<!DOCTYPE html>
<html>
<head>
  <title>FamilyFeudWeb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

<script type="text/javascript">
var CONFIG = {
  pusher: { key: '<%= PUSHER_CONFIG["key"] %>' },
  incomming_phone_number: '<%= TWILIO_CONFIG["incomming_phone_number"] %>'
};
</script>

  <script src="http://js.pusher.com/1.12/pusher.min.js"></script>
  <%= javascript_include_tag "application" %>

</body>
</html>
